* {
  font-family: "Rajdhani", sans-serif;
}

.navbar-brand {
  font-size: 100%;
  padding: 6px;
  padding-left: 15px;
}

.nav-input {
  display: flex;
  align-items: center;
  padding-left: 15px;
}

.nav-link {
  font-size: 90%;
}

form {
  padding: 15px 0;
}

.input {
  width: 60%;
  border: none;
  background: transparent;
  border-bottom: 1px solid black;
  margin-right: 5px;
}

.material-icons {
  font-size: 90%;
  padding-right: 2px;
  top: 2px;
}

.header-icon {
  font-size: 100%;
  padding-right: 3px;
  padding-left: 3px;
  align-items: center;
}

.result-container {
  /* display: flex; */
  border: 3px solid black;
  border-style: double;
  width: 95%;
  justify-content: center;
  margin: 0 auto;
  margin-bottom: 5px;
  margin-top: 5px;
  padding: 10px;
}

.quote-author {
  font-size: 80%;
  text-decoration: underline;
}
