* {
  font-family: "Rajdhani", sans-serif;
}

.navbar-brand {
  font-size: 100%;
  padding: 6px;
  padding-left: 15px;
}

.nav-input {
  display: flex;
  align-items: center;
  padding-left: 15px;
}

.material-icons {
  font-size: 90%;
  padding-right: 3px;
  margin-top: -2.5px;
  vertical-align: middle;
}

.nav-input .material-icons {
  margin-top: -1px;
}

.header-icon {
  font-size: 100%;
  padding-right: 3px;
  padding-left: 3px;
  align-items: center;
  margin-top: -10px;
}

.nav-link {
  font-size: 90%;
}

.fixed-bottom .nav-link {
  font-size: 75%;
}

.fixed-bottom {
  height: 5%;
}

.fixed-bottom .navbar-brand {
  padding-left: 0;
}

form {
  padding: 15px 0;
}

.input {
  width: 60%;
  border: none;
  background: transparent;
  border-bottom: 1px solid black;
  margin-right: 5px;
  margin-bottom: 10px;
}

.result-container {
  /* display: flex; */
  position: relative;
  border: 3px solid black;
  border-style: double;
  width: 95%;
  justify-content: center;
  margin: 0 auto;
  margin-bottom: 10px;
  margin-top: 5px;
  padding: 10px;
  background: linear-gradient(45deg, #e2e2e2, #bbbbbb);
  z-index: 1;
}

.result-container::before {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(45deg, #bbbbbb, #e2e2e2);
  z-index: -1;
  transition: opacity 0.5s linear;
  opacity: 0;
}

.result-container:hover::before {
  opacity: 1;
}

.quote-author {
  font-size: 80%;
  text-decoration: underline;
}

.quote-content {
  padding: 10px;
}

.quote-extra {
  display: block;
  margin: 0 auto;
  width: 100%;
  font-size: 80%;
}

.submit {
  background-color: #dbdbdb;
  font-size: 80%;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
}

.submit:hover {
  background-color: #383636;
  color: #ffffff8c;
}

.search-again {
  margin-bottom: 10px;
  background-color: #dbdbdb;
  font-size: 80%;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
}

.search-again:hover {
  background-color: #383636;
  color: #ffffff8c;
}

.randomize {
  display: block;
  width: 20%;
  margin: auto;
  margin-bottom: 10px;
}

.random {
  width: 80%;
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.loading-spinner {
  width: 50px;
  height: 50px;
  border: 10px solid #f3f3f3; /* Light grey */
  border-top: 10px solid #383636; /* Blue */
  border-radius: 50%;
  animation: spinner 1.5s linear infinite;
}

.spinner-container {
  display: grid;
  justify-content: center;
  align-items: center;
  height: 350px;
}

.add-fav {
  display: block;
  margin: 0 auto;
  background-color: #dbdbdb;
  padding: 5px;
  margin-top: 5px;
  width: 40%;
  font-size: 80%;
  border: none;
  border-radius: 5px;
}

.remove-fav {
  display: block;
  margin: 0 auto;
  background-color: #dbdbdb;
  border: none;
  border-radius: 5px;
  padding: 5px;
  margin-top: 5px;
}

.remove-fav .material-icons {
  padding-bottom: 1px;
}

.add-fav:hover {
  background-color: #383636;
  color: #ffffff8c;
}

.remove-fav:hover {
  background-color: #383636;
  color: #ffffff8c;
}

.fav-empty {
  font-size: 80%;
  padding: 5px;
  border: 3px solid black;
  border-style: double;
  height: 50%;
  line-height: 50px;
}

.confirm-box {
  background: linear-gradient(45deg, #e2e2e2, #bbbbbb);
  font-size: 80%;
  display: block;
  width: 25%;
  height: 12%;
  border: 3px double black;
  align-items: center;
  position: absolute;
  top: 15%;
  right: 37.5%;
  margin: 0 auto;
  z-index: 1;
}

.confirm-box::before {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(45deg, #bbbbbb, #e2e2e2);
  z-index: -1;
  transition: opacity 0.5s linear;
  opacity: 0;
}

.confirm-box:hover::before {
  opacity: 1;
}

.confirm-text {
  padding: 2.5px;
  padding-top: 3px;
  display: flex;
  width: 60%;
  justify-content: center;
  margin: 0 auto;
  text-align: center;
}

.confirm-button {
  background-color: #dbdbdb;
  border: none;
  border-radius: 5px;
  margin-right: 5px;
  padding: 1px 7px;
  font-size: 100%;
  margin-top: -2px;
}

.confirm-button:hover {
  background-color: #383636;
  color: #ffffff8c;
}

.navbar span {
  margin-left: -15px;
  padding: 0 20px;
  font-size: 80%;
  color: rgb(188, 188, 124);
}
